@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
    
}
.form{
    background-color: transparent;
    width: 389px;
    border: 3px solid rgb(255, 254, 254);
    padding: 15px;
    margin: 10px;
    position: absolute;
    background-color: #d2d9d3;
    right: 203px;
    height: 267px;
    border-radius: 15px;
    box-shadow: 8px 9px 13px rgb(28 29 29);
}
input{
    border-radius: 7px;
    padding: 4px;
    padding-left: 10px;
    font-size: 1rem;
    border-style: none;
    margin: 7px;
    line-height: 26px;
    width: 348px;
}

::placeholder{
    color: rgb(180, 171, 171);
}
.textarea{
    display: inline-table;
    width: 348px;
    height: 100px;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 1rem;
    line-height: 28px;
    border-style: none;
}
.txt u{
    color: #2e2b2b;

}
.area{
    padding-left: 9px;
    line-height: 40px;
}

.btn-1,.btn-2{
    cursor: pointer;
    height: 42px;
    margin-top: 5px;
    border-style: none;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: 12px;
    background-color: #2e2b2b;
    width: 120px;
    color: white;
    
}
.butn{
    text-align: center;
}