@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url('../img/home.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.header {
    display: flex;
    position: fixed;
    background: transparent;
    border: 2px solid #484242;
    width: 98%;
    margin: auto;
    border-radius: 0 0 12px 12px;
    margin-left: 12px;
}

.left {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 34px;
    padding: 11px;
    text-align: left;
    margin: -12px;
}
.span1{
    display: flex;
    line-height: 2px;;
}
.left img {
    width: 48px;
    border-radius: 31px;
    padding: 14px;
    display: flex;

}

.mid {
    display: block;
    width: 34%;
    margin: 9px auto;
    padding: 20px;
}

.right {
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    top: 12px;
    right: 34px;
    padding: 10px;
    margin: -7px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    list-style: none;
    font-size: 1.2rem;
}

.navbar li a {
    color: white;
    padding: 34px 13px;
    text-decoration: none;
}

.navbar li a.active {
    color: rgb(64 64 64);
    background: white;
    padding: 13px;
    border-radius: 16px;
    transition: 0.5s ease;
}

.navbar li a:hover {
    color: rgb(64 64 64);
    background: white;
    padding: 13px;
    border-radius: 16px;
    transition: 0.5s ease;
}

.btn {
    margin: 10px 7px;
    background-color: transparent;
    color: white;
    padding: 4px 15px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    
}

.btn:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#about {
    background: url('../img/about.jpg') no-repeat center center/cover;
}

#trainer {
    background: url('../img/trainer.jpg') no-repeat center center/cover;
}

#contact {
    background: url('../img/contact.jpg') no-repeat center center/cover;
}